{% extends 'pdfcv/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{cv.name}} </h2>
            <h2>{{cv.email}}</h2>
            <h2>{{cv.phone}}</h2>
            <hr>
            <br>
            <p>Summary</p>
            <p>{{cv.summary}}</p>
            <hr>
            <p>Skills</p>
            <p>{{cv.skills}}</p>
            <hr>
            <p>Education</p>
            <ul>
                <li>
                    Schooling: {{cv.school}}
                </li>
                <li>
                    {{cv.degree}} from {{cv.university}}
                </li>
            </ul>
            <hr>
            <p>Previous Work</p>
            <p>{{cv.previous_work}}</p>
        </div>
    </div>
{% endblock content %}
    
